PORT=4000
DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/DB_NAME?schema=public

JWT_ACCESS_SECRET=replace_me
JWT_REFRESH_SECRET=replace_me
ACCESS_TOKEN_TTL=30m
REFRESH_TOKEN_TTL=30d

JWT_ADMIN_ACCESS_SECRET=replace_me
JWT_ADMIN_REFRESH_SECRET=replace_me
ADMIN_ACCESS_TOKEN_TTL=30m
ADMIN_REFRESH_TOKEN_TTL=30d

COOKIE_SECURE=true
COOKIE_SAME_SITE=none
COOKIE_DOMAIN=

# Pisahkan dengan koma jika lebih dari satu origin
# Contoh:
# CORS_ORIGINS=https://my-frontend.onrender.com,https://my-admin.vercel.app
CORS_ORIGINS=https://my-frontend.onrender.com

HEROSMS_API_KEY=
HEROSMS_BASE_URL=https://hero-sms.com/stubs/handler_api.php
HEROSMS_WEBHOOK_SECRET=
HEROSMS_SERVICES_CACHE_TTL_MS=300000
HEROSMS_COUNTRIES_CACHE_TTL_MS=600000
HEROSMS_TOP_COUNTRIES_CACHE_TTL_MS=60000
HEROSMS_PRICING_CACHE_TTL_MS=30000

MYPG_BASE_URL=https://klikqris.com/api/qrisv2
MYPG_API_KEY=
MYPG_MERCHANT_ID=
MYPG_CALLBACK_SECRET=
MYPG_CALLBACK_URL=https://my-api.onrender.com/webhooks/mypg

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
SMTP_FROM_EMAIL=
SMTP_FROM_NAME=OTP MURAH

FRONTEND_BASE_URL=https://my-frontend.onrender.com

TURNSTILE_SECRET_KEY=
TURNSTILE_VERIFY_URL=https://challenges.cloudflare.com/turnstile/v0/siteverify
TURNSTILE_EXPECTED_HOST=my-frontend.onrender.com
